<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t("view.task.title") %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label t("view.task.content") %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label t("view.task.expiration") %>
    <%= form.date_select :expires_on %>
  </div>

  <div class="field">
    <%= form.label t("view.task.status") %>
    <%= form.select :status, Task.statuses.keys %>
  </div>

  <div class="field">
    <%= form.label t("view.task.priority") %>
    <%= form.select :priority, Task.priorities.keys %>
  </div>

  <% if action_name == :new %>
    <% labels.each do |label| %>
      <div class="field">
        <%= form.check_box :label_ids,
          { multiple: true,
          checked: label[:checked],
          disabled: label[:disabled],
          include_hidden: false },
          label[:id]
        %>
        <label style="background-color: aquamarine">
          <%= label.name %>
        </label>
      </div>
    <% end %>
  <% else %>
    <%= form.collection_check_boxes :label_ids, @labels, :id, :name %>
  <% end %>

  <div class="actions">
    <%= form.submit t("view.template.new_task") %>
  </div>
<% end %>
