<h1><%= t("view.task.index") %></h1>

<div>
  <%= form_with(model: Task.new, local: true, method: :get, url: tasks_path) do |form| %>
    <%= form.label :title, t("view.task.title") %>
    <%= form.text_field :title %>

    <%= form.label :content, t("view.task.content") %>
    <%= form.text_field :content %>

    <%= form.label :status, t("view.task.status") %>
    <%= form.select :status, Task.statuses.keys, include_blank: true %>

      <%= form.label :search_with_label, t("view.task.label") %>
      <%= form.select :label_id, @labels.map{ |label| [label.name, label.id] }, include_blank: true, selected: "" %>

    <%= form.submit t("view.task.search"), class: 'btn btn-sm btn-outline-success my-2 my-sm-0' %>
  <% end %>
</div>

<%= link_to t("view.task.high_priority"), tasks_path(sort_expired: "true"), class: 'btn btn-sm btn-outline-dark' %>

<table>
  <thead>
    <tr>
      <th><%= t("view.task.title") %></th>
      <th><%= t("view.task.content") %></th>
      <th><%= t("view.task.status") %></th>
      <th><%= t("view.task.user") %></th>
      <th><%= t("view.task.priority") %></th>
      <th><%= t("view.task.expiration") %></th>
      <th><%= t("view.task.time") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @tasks %>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.content %></td>
          <td><%= t("view.task.status") %><%= task.status %></td>
          <td><%= t("view.task.user_name") %><%= task.user.name %></td>
          <td><%= t("view.task.priority") %><%= task.priority %></td>
          <td><%= t("view.task.expiration") %><%= task.expires_on %></td>
          <td><%= t("view.task.time") %><%= task.created_at.strftime('%Y/%m/%d %H:%M')  %></td>
          <td><%= link_to t("view.task.show"), task, class: 'btn btn-sm btn-outline-success' %></td>
          <td><%= link_to t("view.task.edit"), edit_task_path(task), class: 'btn btn-sm btn-outline-primary' %></td>
          <td><%= link_to t("view.task.destroy"), task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("view.template.new_task"), new_task_path, class: 'btn btn-sm btn-outline-dark' %>
<% if @tasks %>
  <%= paginate @tasks %>
<% end %>
