<h2>ADMIN</h2>

<% @users.each do |user| %>
  <div>ID:<%= user.id%></div>
  <div>NAME:<%= user.name %></div>
  <div>EMAIL:<%= user.email %></div>
  <div>ADMIN:<%= user.admin %></div>
  <% if current_user == user %>
      <%= link_to t("view.task.destroy"), admin_user_path(user), method: :delete, data: { confirm: 'Are you reeeeeeeeeeeeeeally sure?' }, class: 'btn btn-sm btn-outline-success' %>
      <%= link_to t("view.task.edit"), edit_admin_user_path(user), class: 'btn btn-sm btn-outline-primary' %>
  <% else %>
      <%= link_to t("view.task.destroy"), admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-danger' %>
  <% end %>

<% end %>
