<h2><%= t("view.template.user_show") %></h2>

<h1><%= @user.name %></h1>
<p>ID:<%= @user.id%></p>
<p>NAME:<%= @user.name %></p>
<p>EMAIL:<%= @user.email %></p>
<p>ADMIN:<%= @user.admin %></p>

<%= link_to t("view.template.user_index"), admin_users_path %>
